
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NuevoLayaout</title>
</head>
<body>
    <div>
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
    <div class="acaseimprimetodo" > 
        @RenderBody()
    </div>
</body>
</html>
